@import "tailwindcss";

@theme {
    --color-primary: #A78BFA;
    --color-secondary: #FBCFE8;
    --color-accent: #fcd34d;

    --animate-gradient-xy: gradient-xy 15s ease infinite;

    @keyframes gradient-xy {

        0%,
        100% {
            background-size: 400% 400%;
            background-position: 0% 50%;
        }

        50% {
            background-size: 400% 400%;
            background-position: 100% 50%;
        }
    }
}
